.toast {
  position: absolute;
  top: 10%;
  right: 2%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  width: 200px;
  z-index: 1500;
  background-color: #1b98f5;
  border-radius: 10px;
  color: #fff;
  text-transform: capitalize;
  transition: 0.5s 0.9s ease-in-out;
  transform: translateX(600px);
}

.toast.active {
  transform: translateX(0px);
}

.toast .toast-btn {
  cursor: pointer;
}
